# JFrog Artifactory OSS 版本。
# 正常重启不要改它。只有你明确要升级 Artifactory 版本时才改。
ARTIFACTORY_VERSION=7.146.7

# PostgreSQL 镜像版本。正常情况下不要改。
POSTGRES_VERSION=17.6-alpine

# JFrog 官方镜像仓库。正常情况下不要改。
JFROG_DOCKER_REGISTRY=releases-docker.jfrog.io

# JFrog 官方 OSS compose 发行包索引。正常情况下不要改。
JFROG_RELEASE_INDEX_URL=https://releases.jfrog.io/artifactory/bintray-artifactory/org/artifactory/oss/docker/jfrog-artifactory-oss/

# Artifactory 管理后台绑定地址。
# 默认 0.0.0.0 = 容器会监听所有网卡。
# 实际访问时请用主机 IP 或主机名，不要在浏览器里输入 0.0.0.0。
ARTIFACTORY_ADMIN_BIND_HOST=0.0.0.0

# Artifactory 管理后台端口。管理员访问用。
ARTIFACTORY_ADMIN_PORT=8082

# Artifactory 另一个服务端口映射。正常情况下不要改。
ARTIFACTORY_SERVICE_PORT=8081

# 普通用户 Portal 的对外访问端口。局域网其他电脑访问这个端口。
PORTAL_PORT=8080

# Artifactory 管理员账号。正常情况下不要改用户名，只改密码。
ARTIFACTORY_ADMIN_USER=admin

# Artifactory 管理员密码。
# 后台默认监听 0.0.0.0 时，第一次启动前必须改掉这个模板值。
# 如果密码里包含空格，建议用双引号包起来。
ARTIFACTORY_ADMIN_PASSWORD=CHANGE_ME_BEFORE_STARTING

# Portal 普通用户账号。正常情况下不要改用户名，只改密码。
PORTAL_USERNAME=user

# Portal 普通用户密码。
# 如果密码里包含空格，建议用双引号包起来。
PORTAL_PASSWORD=user

# PostgreSQL 数据库名。正常情况下不要改。
POSTGRES_DB=artifactory

# PostgreSQL 用户名。正常情况下不要改。
POSTGRES_USER=artifactory

# PostgreSQL 密码。正常情况下不要改。
POSTGRES_PASSWORD=password

# Artifactory 里实际承载业务文件的仓库 key。
# 如果你要改业务仓库名，改这里。
CONTENT_REPOSITORY_KEY=lan-drop-local

# 刷机包在仓库里的一级路径前缀。正常情况下不要改。
FIRMWARE_PREFIX=firmware

# patch 包在仓库里的一级路径前缀。正常情况下不要改。
PATCH_PREFIX=patch
